[submodule "site-lisp/csharp-mode"]
	path = site-lisp/csharp-mode
	url = https://github.com/Sectoid/csharp-mode.git
[submodule "site-lisp/c-eldoc"]
	path = site-lisp/c-eldoc
	url = git://github.com/mooz/c-eldoc.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "site-lisp/zencoding"]
	path = site-lisp/zencoding
	url = git://github.com/rooney/zencoding.git
[submodule "site-lisp/js2-mode"]
	path = site-lisp/js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = git://github.com/defunkt/markdown-mode.git
[submodule "site-lisp/menu-tree"]
	path = site-lisp/menu-tree
	url = git://github.com/emacsmirror/menu-tree.git
[submodule "site-lisp/deferred"]
	path = site-lisp/deferred
	url = git://github.com/kiwanami/emacs-deferred.git
[submodule "site-lisp/yaml-mode"]
	path = site-lisp/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "site-lisp/haskell-mode"]
	path = site-lisp/haskell-mode
	url = git://github.com/haskell/haskell-mode.git
[submodule "site-lisp/asciidoc-mode"]
	path = site-lisp/asciidoc-mode
	url = git://github.com/emanchado/asciidoc-mode.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = git://github.com/magit/magit.git
[submodule "site-lisp/ritz"]
	path = site-lisp/ritz
	url = https://github.com/pallet/ritz.git
[submodule "site-lisp/clojure-mode"]
	path = site-lisp/clojure-mode
	url = https://github.com/clojure-emacs/clojure-mode.git
[submodule "site-lisp/git-modes"]
	path = site-lisp/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "site-lisp/cider"]
	path = site-lisp/cider
	url = https://github.com/clojure-emacs/cider.git
[submodule "site-lisp/dash"]
	path = site-lisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "site-lisp/popup"]
	path = site-lisp/popup
	url = https://github.com/auto-complete/popup-el.git
[submodule "site-lisp/pkg-info"]
	path = site-lisp/pkg-info
	url = https://github.com/lunaryorn/pkg-info.el.git
[submodule "site-lisp/epl"]
	path = site-lisp/epl
	url = https://github.com/cask/epl.git
